<!-- <h1> Hello {{name}}  </h1> 
<p> <b>My name is {{person.firstName}} {{person.lastName}} and i am {{person.age}} years old</b></p>
<h3> your age after 10 years will be {{ showAge() }}</h3>
<h3> {{ 1+1 }}</h3>
<p>{{ 'santorini' }}</p>
<h3> customer id is {{ customer.id }} </h3>
<h3> customer name is {{ customer.name }} </h3>
<h3> customer email is {{ customer.email }} </h3> -->
<!-- 
<ul>
    <li *ngFor = "let person of people; let i = index">
        {{i+1  }} {{person}}
    </li>
</ul>

<ul>    
<li *ngFor = "let object of peopleObjectArray let i = index">
    {{i+1  }}  {{object.firstName}}  {{object.lastName}}

</li>
</ul> -->

<h3 *ngIf = showName> inside if statement </h3>
<h3 *ngIf = !showName> inside else statement</h3>

<div [ngSwitch] = "switchNo">
    <h1 *ngSwitchCase = "'1'"> inside 1 </h1>
    <h2 *ngSwitchCase = "'2'"> inside 2</h2>


</div>



